#knowledge{
    width:100%;
    height: 100%;
    background-color: #FCDDA1;
}

#knowledge-chair, #bookshelf, .beam, #beam, .window, .railing, #librarian, #knowledge-lantern, #knowledge-hover{
    position: absolute;
}

.beam{
    background-color: #784027;
}

#beam{
    width:100%;
    height: 100%;
}

.window{
    background-color: white;
}

.railing{
    background-color: #282828;
}

.railing .vertical, #knowledge-lantern{
    top:0;
}

.railing .horizontal{
    left:0;
}

#knowledge-hover{
    background-color:rgba(191,0,255,0.2);
}

/* popover dialog */

#librarian-dialog .popover-header{
    background-color: rgb(255, 255, 255);
    padding: 0px;
    margin: 0px;
    height:30px;
}
#librarian-dialog .popover-body{
    background-color: #E75B40;
    font-size: 18px;
    color:white;
    height:170px;
}
.popover{
    width: 300px;
    height: 200px;
    z-index: 3;
}

.popover-inner{
    height: 100%;
    width: 100%;
}

#librarian-dialog div{
    background-color: #E75B40;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
