.document-container{
    overflow: hidden;
    position: absolute;
    top:0;
}

.document-separator{
    width: 100%;
    background-color: #8F573E;
    position: absolute;
}

.document-container .scrollSide{
    position: absolute;
}
.document-container .scrollUpper{
    position: absolute;
    background-color: #BF1800;
}
.document-container .scrollTexture{
    position: absolute;
    background-size: 100%;
    background-position-y:150px;
    background-image: url('../../../../../assets/Panel/Scene/Lectures/scrollTexture.png');
    background-repeat: repeat-y;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.3);
    border-radius: 10px;
}
.document-container .scrollTexture span{
    font-family: 'Roboto';
    font-size: 25px;
    overflow: hidden;
    height: 30px;
    width: 85%;
    text-align: center;
}
.document-container .scrollTexture2{
    position: absolute;
    background-size: 100%;
    background-image: url('../../../../../assets/Panel/Scene/Lectures/scrollTexture.png');
    background-repeat: repeat-y;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.document-container .scroll-center{
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.3);
    position: absolute;
    background-color: rgb(236, 194, 143);
    display: flex;
    align-items: center;
    justify-content: center;
}

.document-container .scroll-center .lectures-corpus{
    overflow:hidden;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.document-container .scroll-center .lectures-corpus .span{
    text-align:justify;
    line-height: 26px;
    font-size: 20px;
    white-space: pre-line;
    width:95%;
    overflow-y: scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.document-container .scroll-center .lectures-corpus .span::-webkit-scrollbar { width: 0 !important }

.document-container .side1{
    position: absolute;
    background: linear-gradient(-0.25turn, #B38959 66%, #5F3403 100%);
    top:0;
    left:0;
}
.document-container .side2{
    position: absolute;
    background: linear-gradient(0.25turn, #B38959 66%, #5F3403 100%);
    top:0;
}


/* Scrolling changing button */
.changeButton{
    position: absolute;
    background-color: #F8725D;
    border-radius: 30px 0px 0px 30px;
    transition: top 1.5s;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none; 
}

.changeButton:hover{
    background-color: rgb(253, 138, 120);
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3);
}

.changeButton .img{
    position: absolute;
}
.changeButton .shadow{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    transition:background-color 1.5s;
    border-radius: 30px 0px 0px 30px;
}

.document-container .validateButton{
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.2);
    position: absolute;
    background-image: url("../../../../../assets/Panel/Scene/Lectures/validate.png");
    background-size: contain;
}

.document-container .validateButton:hover{
    background-image: url("../../../../../assets/Panel/Scene/Lectures/validateHover.png");
    background-size: contain;
}

.document-container .deleteButton{
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.2);
    position: absolute;
    background-image: url("../../../../../assets/Panel/Scene/Lectures/delete.png");
    background-size: contain;
}

.document-container .deleteButton:hover{
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.2);
    position: absolute;
    background-image: url("../../../../../assets/Panel/Scene/Lectures/deleteHover.png");
    background-size: contain;
}

.document-container .button-hover{
    color:white;
    display: flex;
    direction: ltr;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 10px);
    overflow: hidden;
    flex-direction: column;
    font-family: 'Roboto';
}

.document-container .button-hover span{
    max-width: 300px;
}

.document-container .button-hover .title{
    color:white;
    width:80%;
}

.document-container .button-hover .rateUnderstading{
    color:white;
    width:80%;
    margin-top:10px;
    margin-bottom: 25px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(#334458, rgba(255,255,255,0.1), #334458);
}
.document-container .button-hover .lantern{
    width:30px;
    height:65px;
    background-image: url('../../../../../assets/Panel/Scene/Lectures/lantern.png');
    background-size: contain;
}

.document-container .button-hover .lanternHover{
    width:30px;
    height:65px;
    background-image: url('../../../../../assets/Panel/Scene/Lectures/lanternHovered.png');
    background-size: contain;
}

.document-container .button-hover .lanternSelect{
    width:30px;
    height:65px;
    background-image: url('../../../../../assets/Panel/Scene/Lectures/lanternSelected.png');
    background-size: contain;
}

.document-container .button-hover .rateQuality{
    color:white;
    width:80%;
    margin-top:10px;
    margin-bottom: 25px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(#334458, rgba(255,255,255,0.1), #334458);
}

.document-container .button-hover .submit{
    color:white;
    text-align: center;
    width:50%;
    height:50px;
    border-radius: 5px;
    background-color: #641f1f;
    display: flex;
    align-items: center;
    justify-content: center;
}
.document-container .button-hover .submit:hover{
    background-color: #b43e3e;
}

.document-container .title-hover{
    display: flex;
    direction: ltr;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: calc(100% - 10px);
    overflow: hidden;
    z-index:15;
}

.document-container .title-hover span{
    font-family: 'Roboto';
    font-size: 16px;
    color:white;
}


