
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


#login .container-init h1 {
	font-weight: bold;
	margin: 0;
}

#login .container-init h2 {
	text-align: center;
}

#login .container-init p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

#login .container-init span {
	font-size: 12px;
}

#login .container-init .pwd_forget {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

#login .container-init button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

#login .container-init button:active {
	transform: scale(0.95);
}

#login .container-init button:focus {
	outline: none;
}

#login .container-init button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

#login .container-init form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

#login .container-init input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

#login .container-init {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

#login .container-init .form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

#login .container-init .sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

#login .container-init.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

#login .sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

#login .container-init.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

#login .container-init .overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

#login .container-init.right-panel-active .overlay-container{
	transform: translateX(-100%);
}
#login .container-init .space{
	height:25px;
}

#login .container-init .overlay {
	background: #38023B;
	background: -webkit-linear-gradient(to right, #760F10, #D52224);
	background: linear-gradient(to right, #760F10, #D52224);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

#login .container-init.right-panel-active .overlay {
  	transform: translateX(50%);
}

#login .container-init .overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
	box-sizing: border-box;
}

#login .container-init .overlay-left {
	transform: translateX(-20%);
}

#login .container-init.right-panel-active .overlay-left {
	transform: translateX(0);
}

#login .container-init .overlay-right {
	right: 0;
	transform: translateX(0);
}

#login .container-init.right-panel-active .overlay-right {
	transform: translateX(20%);
}

#login .container-init .overlay-right p a{
	text-decoration: none;
	color: white;
	font-weight: bold;
}

#login .container-init .error-message{
	color:red;
	font-size:16px;
}