// popover
#scene-pagoda-popover-scene-floor1 .popover-header{
    background-color: rgb(255, 255, 255);
}
#scene-pagoda-popover-scene-floor1 .popover-body{
    background-color: #E75B40;
    font-size: 18px;
    color:white
}
#scene-pagoda-popover-scene-floor1 {
    max-width:400px;
    width:400px;
    max-height: 200px;
}
#scene-pagoda-popover-scene-floor1 .popover-body{
    padding: 0px 0px;
    background-color: #d3b881;
}

#scene-pagoda-popover-scene-floor2 .popover-header{
    background-color: rgb(255, 255, 255);
}
#scene-pagoda-popover-scene-floor2 .popover-body{
    background-color: #E75B40;
    font-size: 18px;
    color:white
}
#scene-pagoda-popover-scene-floor2 {
    max-width:400px;
    width:400px;
    max-height: 200px;
}
#scene-pagoda-popover-scene-floor2 .popover-body{
    padding: 0px 0px;
    background-color: #d3b881;
}

#scene-pagoda-popover-scene-floor3 .popover-header{
    background-color: rgb(255, 255, 255);
}
#scene-pagoda-popover-scene-floor3 .popover-body{
    background-color: #E75B40;
    font-size: 18px;
    color:white
}
#scene-pagoda-popover-scene-floor3 {
    max-width:400px;
    width:400px;
    max-height: 200px;
}
#scene-pagoda-popover-scene-floor3 .popover-body{
    padding: 0px 0px;
    background-color: #d3b881;
}

#scene-pagoda-popover-scene-floor4 .popover-header{
    background-color: rgb(255, 255, 255);
}
#scene-pagoda-popover-scene-floor4 .popover-body{
    background-color: #E75B40;
    font-size: 18px;
    color:white
}
#scene-pagoda-popover-scene-floor4 {
    max-width:400px;
    width:400px;
    max-height: 200px;
}
#scene-pagoda-popover-scene-floor4 .popover-body{
    padding: 0px 0px;
    background-color: #d3b881;
}