#scene-pagoda-behind{
    width:848px;
    height: 480px;
    position: absolute;
    z-index: 1;
}

#scene-floor-structure{
    top:388px;
    left:332px;
    position: absolute;
    z-index: 4;
}

#scene-floor1{
    left:354px;
    position: absolute;
    z-index: 4;
}

#scene-floor2{
    left:348px;
    position: absolute;
    z-index: 4;
}

#scene-floor3{
    left:339px;
    position: absolute;
    z-index: 4;
}

#scene-floor4{
    left:327px;
    position: absolute;
    z-index: 4;
}
