#scene-pagoda-behind{
    position: absolute;
    z-index: 1;
}

#scene-floor-structure{
    position: absolute;
    z-index: 5;
}

#scene-floor1{
    position: absolute;
    z-index: 5;
}

#scene-floor2{
    position: absolute;
    z-index: 5;
}

#scene-floor3{
    position: absolute;
    z-index: 5;
}

#scene-floor4{
    position: absolute;
    z-index: 5;
}
