/* -----------------------> SCREEN <-------------------------- */
html, body{
    margin: 0;
    height: 100%;
    background: radial-gradient(#3c495a, #272e34);
    background-image: url('../../assets/background.png');
    z-index: 0;
}
#container-panel{
    
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

#tori{
    z-index: 12;
    position: absolute;
    pointer-events: none;
    width:1572px;
    height:767px;
}
