// list item

.list-document{
    width:300px;
    margin:0 auto;
    background-color: #d3b881;
}
    
.list-document ol{
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin-bottom: 4em;
}
    
.list-document ol ol{
    margin: 0 0 0 2em;
}
    
.list-document a{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: #FC756F;
    text-decoration: none;
    transition: all .2s ease-in-out;
}
    
.list-document a:hover{
    background: #d6d4d4;
    text-decoration:none;
    transform: scale(1.1);
}
    
.list-document a:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background:#FC756F;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    color:#FFF;
}

#scrollbardocument::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	border-radius: 10px;
	background-color: #CCCCCC;
}

#scrollbardocument::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#scrollbardocument::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #D62929;
	background-image: -webkit-linear-gradient(90deg,
											  transparent,
											  rgba(0, 0, 0, 0.4) 50%,
											  transparent,
											  transparent)
}
.list-document .list-document-title{
    font-weight: bold;
    color: #000;
}
.list-document .list-document-author{
    color: #444;
}
.list-document .list-document-keywords{
    font-style: italic;
    color: #444;
}

.scrollbar
{
    direction: rtl;
    background-color: #d3b881;
    width: 100%;
    float: left;
    height:275px;
	overflow-y: scroll;
}