#scene-knwoledge-behind{
    width:848px;
    height: 480px;
    position: absolute;
    z-index: 1;
}

#scene-knwoledge-character{
    width:848px;
    height: 480px;
    position: absolute;
    z-index: 3;
}

#scene-knwoledge-hover-character{
    width:848px;
    height: 480px;
    position: absolute;
    z-index: 2;
    visibility: hidden;
}

#scene-knwoledge-block-character{
    width:165px;
    height: 350px;
    position: absolute;
    z-index: 6;
    // border:1px solid white;
}
#scene-knwoledge-block-character:hover{
    // background:rgba(0,0,0,0.5);
}

// popover
#scene-knwoledge-block-character-popover .popover-header{
    background-color: rgb(255, 255, 255);
}
#scene-knwoledge-block-character-popover .popover-body{
    background-color: #E75B40;
    font-size: 18px;
    color:white
}
#scene-knwoledge-block-character-popover{
    width:250px;
}

// popover dialog

#scene-knwoledge-block-character-popover-dialog .popover-header{
    background-color: rgb(255, 255, 255);
}
#scene-knwoledge-block-character-popover-dialog .popover-body{
    background-color: #E75B40;
    font-size: 18px;
    color:white
}
.popover{
    max-width: 400px;
}

#scene-knwoledge-block-character-popover-dialog div{
    background-color: #E75B40;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#scene-knwoledge-block-character-popover-dialog textarea {
	min-height: 25px;
    width: 300px;
    height: 80px;
	border: 1px solid rgba(255,255,255,0.8);
	padding: 10px 25px;
	color: #002E40;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 4px 6px rgba(0,0,0,0.2);
	border-radius: 25px 0 0 0;
    font-size: 11pt;
    line-height: 1.2em;
}

#scene-knwoledge-block-character-popover-dialog button {
	padding: 10px 0px;
    margin-left:10px;
    width: 70px;
    height: 80px;
	float: right;
	border: none;
	border: 1px solid rgba(255,255,255,0.8);
	background: rgba(255,255,255,0.8);
	box-shadow: 0 4px 6px rgba(0,0,0,0.2);
	font-size: 11pt;
	text-align: center;
	border-radius: 0 25px 25px 0;
	color: #002E40;
}

#scene-knwoledge-block-character-popover-dialog button:hover{
	border-color: #ffffff;
	background: #ffffff;
	color: #002E40;
}

#scene-knwoledge-block-character-popover-dialog button:active{
	border-color: rgba(255,255,255,0.9);
	background: rgba(255,255,255,0.9);
	color: #002E40;
	box-shadow: none;
	-webkit-transform: translateY(1px);
	-moz-transform: translateY(1px);
	-o-transform: translateY(1px);
	-ms-transform: translateY(1px);
	transform: translateY(1px);
}