#scene{
    display: flex;
    position: absolute;
    z-index: 3;
}

#scene-background{
    position: relative;
    z-index: 4;
}

#scene-animation{
    position: absolute;
    z-index: 5;
    visibility: hidden;
}


