#scene{
    display: flex;
    position: absolute;
}

#scene-background{
    width:848px;
    height: 480px;
    position: relative;
    z-index: 4;
}

#scene-animation{
    width:848px;
    height: 480px;
    position: absolute;
    z-index: 5;
    visibility: hidden;
}
