#community .verticalBeam, #community .horizontalBeam, #community #scrollable-panel, #community .sub-panel, #community .sub-panel-separator{
    position: absolute;
}

#community .sub-panel-separator{
    background-color: #8F573E;
}
/* profile container */
#community{
    overflow: hidden;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
}
#community-inner{
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
#community-inner::-webkit-scrollbar { width: 0 !important }

#community #menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
    height:50px;
    background-color: #B43120;
}

#community .submenu{
    display: flex;
    justify-content: center;
    align-items: center;
    width:calc(50% - 1px);
    height:100%;
    font-size: 1vw;
    color:white;
    font-family: 'Roboto';
}

#community .submenuSeparation{
    width:2px;
    height: 80%;
    background-color: black;
}

#community .submenu:hover{
    background-color: rgb(221, 54, 54);
}

#community .submenu.active{
    background-color: rgb(221, 54, 54);
}

#community #scrollable-panel{
    overflow: hidden;
}

#community #community-questions{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #C6A561;
}
#community .sub-panel{
    background-color: #E8C379;
    overflow-y: scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    overflow-x: hidden;
}
#community .sub-panel::-webkit-scrollbar { width: 0 !important }
#community .question{
    margin-top: 20px;
    width:80%;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
}

#community .title{
    grid-column: 2 / 12;
    grid-row: 1;
    display: flex;
    align-items: center;
}

#community .title span{
    margin: 10px;
    font-size: 1.5vw;
    font-family: 'Roboto';
}
#community .question .bar{
    grid-column: 1/2;
    grid-row: 1 / 7;
    display: flex;
    align-items: center;
}

#community .question .hor{
    background-color: #dadada;
    width: 47%;
    height: 100%;
    float: right;
}

#community .question-title{
    grid-column: 2 / 10;
    grid-row: 2 / 6;
    display: flex;
}

#community .question-title span{
    margin: 10px;
    font-size: 1vw;
    font-family: 'Roboto';
}

#community .user-information{
    grid-column: 10/12;
    grid-row: 1/7;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

#community .question .picture{
    margin-top: 20px;
    width:50px;
    height: 50px;
    border-radius: 25px;
    background-color: black;
}

#community .question .username{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    font-size: 1vw;
    font-family: 'Roboto';
}

#community .question .date{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    font-size: 0.75vw;
    font-family: 'Roboto-light';
}

#community .deploy{
    grid-column: 4 / 9;
    grid-row: 6;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#community .deploy span{
    font-size: 1vw;
    font-family: 'Roboto';
    background-color: #dadada;
    color:black;
    margin-bottom: 10px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.27);
}

#community .deploy span:hover{
    font-size: 1vw;
    font-family: 'Roboto';
    background-color: #b43120;
    color:white;
    margin-bottom: 10px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.27);
}

/* comment */
#community .comment{
    width:80%;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-auto-rows: minmax(50px, auto);
    background-color: #FFFFFF;
}

/* comment */
#community .comment .sep{
    background-color: #FFFFFF;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}
#community .comment .sep .hor{
    background-color: #dadada;
    width: 47%;
    height: 100%;
}
#community .comment .vote{
    background-color: #FFFFFF;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#community .comment .likes {
    font-size: 1vw;
    font-family: 'Roboto';
    margin-top: 10px;
    margin-bottom: 10px;
}


#community .comment .content{
    grid-column: 3 / 10;
    grid-row: 1 / 3;
    border-top: 1px solid #e8e8e8;
    display: flex;
    align-items: center;
}

#community .comment .content span{
    font-size: 1vw;
    font-family: 'Roboto';
    margin-left: 10px;
    margin-bottom: 10px;
}

#community .comment .user{
    grid-column: 10 / 12;
    grid-row: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

#community  .comment .picture{
    margin-top: 20px;
    width:30px;
    height: 30px;
    border-radius: 25px;
    background-color: black;
}

#community  .comment .username{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    font-size: 1vw;
    font-family: 'Roboto';
}

#community .comment .date{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    font-size: 0.75vw;
    font-family: 'Roboto-light';
}

/* answer */
#community .answer{
    width:80%;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-auto-rows: minmax(50px, auto);
    background-color: #FFFFFF;
}
#community .answer .sep{
    background-color: #FFFFFF;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}
#community .answer .sep .hor{
    background-color: #dadada;
    width: 47%;
    height: 100%;
}
#community .answer .send {
    grid-column: 10 / 12;
    grid-row: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
}


#community .answer .textarea{
    grid-column: 3 / 10;
    grid-row: 1 / 3;
    border-top: 1px solid#e8e8e8;
    display: flex;
    align-items: center;
}

#community .answer .textarea textarea{
    width:100%;
    background-color: #e8e8e8;
    color: #303030;
    resize: none;
    font-family: 'Roboto-Light';
    font-style: italic;
    text-align: center;
    overflow-y: scroll;
    -ms-overflow-style: none;
    border:0px #e8e8e8;
    z-index: 5;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.27);
}
#community .answer .textarea textarea::-webkit-scrollbar {
    display: none;
}
#community .answer .textarea textarea:focus{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

#community .answer .send .arrow{
    border-color: #b43120;
    border-style:solid;
    border-width:0px 10px 10px 0px;
    display: inline-block;
    padding: 10px;
    transform: rotate(-45deg);
}

#community .question .send .arrow:hover{
    border-color:#dd3636;
}


#community .question .send .arrow{
    border-color: #b43120;
    border-style:solid;
    border-width:0px 10px 10px 0px;
    display: inline-block;
    padding: 10px;
    transform: rotate(-45deg);
}

#community .answer .send .arrow:hover{
    border-color:#dd3636;
}

#community #community-ask-questions{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #C6A561;
}